$main-black: #1a1a1a;
$black: #141414;
$secondary-black: #313131;
$terciary-black: #6a6969;
$white: #fff;
$main-color: #00bbff;
$main-color-40: #00bbff30;
$main-color-dark: #0085b6;
$purple: #8855ff;
